<div class="container-fluid form">
    <h3>
        Actualizar Experiencia
        <button class="close-form" (click)="closeForm()">X</button>
    </h3>
    <div class="alert alert-danger" role="alert" *ngIf="isUpdateFail">
        {{errorMessage}}
        <button class="close-alert" (click)="closeMessage()">X</button>
    </div>
    <div class="image" *ngIf="experience.experienceImage">
        <img class="experience-image" [src]="experience.experienceImage" alt="Foto de experiencia">
    </div>
    <form class="custom-form" #f="ngForm" (ngSubmit)="updateExperience()" novalidate>
        <label class="text-white" for="experienceJobTitle"><b>Puesto</b></label>
        <input type="text" placeholder="Ingrese el puesto" id="experienceJobTitle" name="experienceJobTitle"
            [(ngModel)]="experience.experienceJobTitle" required="required" (focus)="closeMessage()">
        <label class="text-white" for="experienceInstitution"><b>Empresa/Institución</b></label>
        <input type="text" placeholder="Ingrese la empresa/institución" id="experienceInstitution" name="experienceInstitution"
            [(ngModel)]="experience.experienceInstitution" required="required" (focus)="closeMessage()">
        <label class="text-white" for="experiencePeriod"><b>Periodo</b></label>
        <input type="text" placeholder="Ingrese el periodo" id="experiencePeriod" name="experiencePeriod"
            [(ngModel)]="experience.experiencePeriod" required="required" (focus)="closeMessage()">
        <label class="text-white" for="experienceActivity"><b>Actividad</b></label>
        <input type="text" placeholder="Ingrese la actividad" id="experienceActivity" name="experienceActivity"
            [(ngModel)]="experience.experienceActivity" required="required" (focus)="closeMessage()">
        <label class="text-white" for="experienceUrl"><b>Url</b></label>
        <input type="text" placeholder="Ingrese la URL" id="experienceUrl" name="experienceUrl"
            [(ngModel)]="experience.experienceUrl" required="required" (focus)="closeMessage()">
        <label class="text-white" for="experienceImage"><b>Imagen</b></label>
        <input class="text-white" type="file" id="experienceImage" name="experienceImage"
            (change)="uploadExperienceImage($event)" accept=".jpg, .jpeg, .png">
        <div *ngIf="newImage">
            <img class="experience-image" [src]="imageService.url" alt="Foto de experiencia">
        </div>
        <button>Actualizar experiencia</button>
    </form>
</div>