<aside class="d-flex flex-column aside-container background-item-color" [class.aside-hidden]="hidden" id="aside">

  <a href="https://www.facebook.com/fabriciodanielpereyraespeche" target="_blank" rel="noopener noreferrer">
    <img class="aside-icon" src="assets/img/iconsFacebook.svg" alt="facebook">
  </a>
  
  <a href="https://www.instagram.com/fabriciopereyraok" target="_blank" rel="noopener noreferrer">
    <img class="aside-icon" src="assets/img/iconsInstagram.svg" alt="instagram">
  </a>
  
  <a href="https://twitter.com/fabriciopereyra" target="_blank" rel="noopener noreferrer">
    <img class="aside-icon" src="assets/img/iconsTwitter.svg" alt="twitter">
  </a>
  
  <a href="https://github.com/fabriciopereyra" target="_blank" rel="noopener noreferrer">
    <img class="aside-icon" src="assets/img/iconsGithub.svg" alt="github">
  </a>
</aside>