<aside class="d-flex flex-column aside-container background-item-color" [class.aside-hidden]="hidden" id="aside">
  <a href="https://www.linkedin.com/in/fabriciopereyraespeche/" target="_blank" rel="noopener noreferrer">
    <img class="aside-icon" src="assets/img/iconsLinkedin.svg" alt="linkedin">
  </a>
  <a href="https://github.com/fabriciopereyra" target="_blank" rel="noopener noreferrer">
    <img class="aside-icon" src="assets/img/iconsGithub.svg" alt="github">
  </a>
  <a href="https://console.firebase.google.com/?hl=es-419" target="_blank" rel="noopener noreferrer">
    <img class="aside-icon" src="assets/img/iconsFirebase.svg" alt="firebase">
  </a>
  <a href="https://console.clever-cloud.com/?user=user_24dbb1a1-cad3-4969-a092-18ca6265c0cb" target="_blank" rel="noopener noreferrer">
    <img class="aside-icon" src="assets/img/iconsClever.svg" alt="clever-cloud">
  </a>
  <a href="https://dashboard.render.com/" target="_blank" rel="noopener noreferrer">
    <img class="aside-icon" src="assets/img/iconsRender.jpg" alt="render">
  </a>
</aside>