<section id="section-skill">
  <header class="section-header">
    <h3>
      Mis Habilidades
      <i class="bi bi-plus-square-dotted" routerLink="/newSkillForm" *ngIf="isLogged"></i>
    </h3>
  </header>
  <div class="row section-body">
    <div class="col-4 progressbar" *ngFor="let skill of skills">
      <h4 class="text-white">
        {{skill.skillName}}
        <i class="bi bi-pencil-square" routerLink="/updateSkillForm/{{skill.id}}" *ngIf="isLogged"></i>
        <i class="bi bi-trash-fill" (click)="deleteSkill(skill.id)" *ngIf="isLogged"></i>
      </h4>
      <ngb-progressbar [striped]="true" [animated]="true" type="info" height="30px" [value]="skill.skillProgress"
        class="animated-progress">
        <h4 class="text-white">{{skill.skillProgress}}%</h4>
      </ngb-progressbar>
    </div>
  </div>
  <br>
</section>