section {
    padding-top: 90px;
    background: #3A3E4B;
}

article {
    padding-bottom: 10px;
}

.section-hero-article-stack-icon {
    height: 60px;
    width: 60px;
}

i {
    color: white;
    padding: 10px;
}