<div class="container-fluid form">
    <h3>
        Actualizar Habilidad
        <button class="close-form" (click)="closeForm()">X</button>
    </h3>
    <div class="alert alert-danger" role="alert" *ngIf="isSaveFail">
        {{errorMessage}}
        <button class="close-alert" (click)="closeMessage()">X</button>
    </div>
    <form class="custom-form" #f="ngForm" (ngSubmit)="saveSkill()" novalidate>
        <label class="text-white" for="skillName"><b>Nombre</b></label>
        <input type="text" placeholder="Ingrese el nombre" id="skillName" name="skillName" [(ngModel)]="skillName"
            required="required" (focus)="closeMessage()">
        <label class="text-white" for="skillProgress"><b>Progreso</b></label>
        <input type="number" placeholder="Ingrese el progreso" id="skillProgress" name="skillProgress"
            [(ngModel)]="skillProgress" required="required" (focus)="closeMessage()">
        <button>Agregar habilidad</button>
    </form>
</div>