div {
    background: #3A3E4B;
    height: 1000px;
    padding-top: 110px;
}

h3 {
    text-align: center;
    font-size: 2rem;
    color: #FF9138;
}

form {
    border: solid 2px #FF9138;
    border-radius: 24px;
    max-width: 60%;
    padding: 30px;
}

.custom-form {
    max-width: 60%;
    margin: 0px auto;
}

.custom-form input {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 24px;
    padding: 10px;
}

button {
    border: 3px solid #FF9138;
    border-radius: 24px;
    padding: 10px;
    margin-right: 10px;
    background-color: #FF9138;

}

.btn-cancel {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 20px;
    width: 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}