<div class="container-fluid" *ngIf="skill">
    <h3>Actualizar Habilidad</h3>
    <button class="btn-cancel" (click)="cancel()">X</button>
    <form #f="ngForm" (ngSubmit)="updateSkill()" novalidate class="custom-form">
        <label class="text-white" for="skillId"><b>Id</b></label>
        <input type="text" id="skillId" name="skillId" [(ngModel)]="skill.id" readonly>
        <label class="text-white" for="skillName"><b>Nombre</b></label>
        <input type="text" placeholder="Ingrese el nombre" id="skillName" name="skillName" [(ngModel)]="skill.skillName"
            required="required">
        <label class="text-white" for="skillProgress"><b>Progreso</b></label>
        <input type="text" placeholder="Ingrese el progreso" id="skillProgress" name="skillProgress"
            [(ngModel)]="skill.skillProgress" required="required">
        <button>Actualizar habilidad</button>
    </form>
</div>