<footer class="text-center text-lg-start bg-light text-muted">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <div class="me-5 d-none d-lg-block">
            <h2>
                <span>Mantente conectado:</span>
            </h2>

        </div>
        <div>
            <h2>
                <a href="https://www.facebook.com/fabriciodanielpereyraespeche" class="me-4 link-secondary">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="https://twitter.com/fabriciopereyra" class="me-4 link-secondary">
                    <i class="bi bi-twitter"></i>
                </a>
                <a href="mailto:fabriciopereyra@gmail.com" class="me-4 link-secondary">
                    <i class="bi bi-google"></i>
                </a>
                <a href="https://www.instagram.com/fabriciopereyraok/" class="me-4 link-secondary">
                    <i class="bi bi-instagram"></i>
                </a>
            </h2>
        </div>
    </section>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2023 Copyright: PEREYRA ESPECHE, Fabricio Daniel
    </div>
</footer>