<div class="container-fluid form">
    <h3>
        Actualizar Proyecto
        <button class="close-form" (click)="closeForm()">X</button>
    </h3>
    <div class="alert alert-danger" role="alert" *ngIf="isUpdateFail">
        {{errorMessage}}
        <button class="close-alert" (click)="closeMessage()">X</button>
    </div>
    <div class="image" *ngIf="project.projectImage">
        <img class="project-image" [src]="project.projectImage" alt="Foto de proyecto">
    </div>
    <form class="custom-form" #f="ngForm" (ngSubmit)="updateProject()" novalidate>
        <label class="text-white" for="projectTitle"><b>Titulo</b></label>
        <input type="text" placeholder="Ingrese el titulo" id="projectTitle" name="projectTitle"
            [(ngModel)]="project.projectTitle" required="required" (focus)="closeMessage()">
        <label class="text-white" for="projectPeriod"><b>Periodo</b></label>
        <input type="text" placeholder="Ingrese el periodo" id="projectPeriod" name="projectPeriod"
            [(ngModel)]="project.projectPeriod" required="required" (focus)="closeMessage()">
        <label class="text-white" for="projectDescription"><b>Descripcion</b></label>
        <input type="text" placeholder="Ingrese la descripcion" id="projectDescription" name="projectDescription"
            [(ngModel)]="project.projectDescription" required="required" (focus)="closeMessage()">
        <label class="text-white" for="projectTechnology"><b>Tecnologia</b></label>
        <input type="text" placeholder="Ingrese la tecnologia" id="projectTechnology" name="projectTechnology"
            [(ngModel)]="project.projectTechnology" required="required" (focus)="closeMessage()">
        <label class="text-white" for="projectUrl"><b>Url</b></label>
        <input type="text" placeholder="Ingrese la Urk" id="projectUrl" name="projectUrl"
            [(ngModel)]="project.projectUrl" required="required" (focus)="closeMessage()">
        <label class="text-white" for="projectImage"><b>Imagen</b></label>
        <input class="text-white" type="file" id="projectImage" name="projectImage"
            (change)="uploadProjectImage($event)" accept=".jpg, .jpeg, .png">
        <div *ngIf="newImage">
            <img class="project-image" [src]="imageService.url" alt="Foto de proyecto">
        </div>
        <button>Actualizar Proyecto</button>
    </form>
</div>