section {
    padding-top: 90px;
    background: #3A3E4B;
}

i {
    color: white;
    padding: 20px;
}

img {
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
}

.section-education-article {
    border: solid 2px #FF9138;
    border-radius: 24px;
}

.section-education-article:hover {
    background: #FF9138;
    border: solid 2px;
}

.section-education-text {
    flex: 20%;
    padding: 20px;
}