<nav class="navbar navbar-expand-md fixed-top" [class.nav-transparent]="nav">

    <div class="container-fluid">

        <!-- ArgentinaProgramaImg -->
        <a class="navbar-brand d-none d-lg-block" href="https://argentinaprograma.inti.gob.ar/" target="_blank"
            rel="noopener noreferrer">
            <img class="navbar-brand-image" src="../../../../assets/img/iconArgPro.png" alt="ArgentinaPrograma">
        </a>

        <a class="navbar-brand d-block d-lg-none" href="https://argentinaprograma.inti.gob.ar/" target="_blank"
            rel="noopener noreferrer">
            <img class="navbar-brand-image" src="../../../../assets/img/iconArgProSM.ico" alt="ArgentinaPrograma">
        </a>

        <!--Navbar Button-->
        <button class="navbar-toggler button-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse" [ngbCollapse]="isMenuCollapsed">
            <ul class="navbar-nav justify-content-between text-center navbar-length ms-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" (click)="isMenuCollapsed = true" aria-current="page" href="#">
                        <span>Inicio</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" (click)="isMenuCollapsed = true" href="#section-aboutme">
                        <span>Acerca de</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" (click)="isMenuCollapsed = true" href="#section-experience">
                        <span>Experiencia</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" (click)="isMenuCollapsed = true" href="#section-education">
                        <span>Educación</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" (click)="isMenuCollapsed = true" href="#section-skill">
                        <span>Habilidades</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" (click)="isMenuCollapsed = true" href="#section-project">
                        <span>Proyectos</span>
                    </a>
                </li>
                <li class="nav-item">
                    <button class="nav-link text-white background-item-color navbar-botton-container" type="button"
                        (click)="onLogIn()" *ngIf="!isLogged">
                        <span>Log In</span>
                    </button>
                    <button class="nav-link text-white background-item-color navbar-botton-container" type="button"
                        (click)="onLogOut()" *ngIf="isLogged">
                        <span>Log Out</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>