section {
    padding-top: 80px;
}
i {
    color: white;
    padding: 10px;
}

.section-hero-background-image {
    background-image: url('../../../../assets/img/bgImage2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.section-header {
    margin-right: 50px;
}

.section-hero-header-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.section-hero-article-stack-icon {
    height: 60px;
    width: 60px;
}

