<section id="section-hero" class="section-hero-background-image">
  <header class="section-header text-end">
    <img class="section-hero-header-image" src={{userProfile.userProfileImage}} alt="Foto de perfil" *ngIf="userProfile.userProfileImage">
    <h1 class="text-white">
      {{userProfile.userProfileName}} {{userProfile.userProfileSurname}}
    </h1>
    <h2 class="text-white">
      {{userProfile.userProfileTitle}}
      <i class="bi bi-pencil-square" routerLink="/updateHeroForm/1" *ngIf="isLogged"></i>
    </h2>
  </header>
  <div class="section-header d-flex justify-content-end">
    <article>
      <a href="https://www.w3schools.com/html/default.asp" target="_blank" rel="noopener noreferrer">
        <img class="section-hero-article-stack-icon" src="assets/img/iconsHtml.svg" alt="html">
      </a>
    </article>
    <article>
      <a href="https://www.w3schools.com/Css/" target="_blank" rel="noopener noreferrer">
        <img class="section-hero-article-stack-icon" src="assets/img/iconsCss.svg" alt="css">
      </a>
    </article>
    <article>
      <a href="https://getbootstrap.com/" target="_blank" rel="noopener noreferrer">
        <img class="section-hero-article-stack-icon" src="assets/img/iconsBootstrap.svg" alt="mysql">
      </a>
    </article>
    <article>
      <a href="https://angular.io/" target="_blank" rel="noopener noreferrer">
        <img class="section-hero-article-stack-icon" src="assets/img/iconsAngularjs.svg" alt="angular">
      </a>
    </article>
    <article>
      <a href="https://spring.io/" target="_blank" rel="noopener noreferrer">
        <img class="section-hero-article-stack-icon" src="assets/img/iconsSpring.svg" alt="mysql">
      </a>
    </article>
    <article>
      <a href="https://www.mysql.com/" target="_blank" rel="noopener noreferrer">
        <img class="section-hero-article-stack-icon" src="assets/img/iconsMysql.svg" alt="mysql">
      </a>
    </article>
  </div>
</section>