<div class="container-fluid">
    <h3>Nueva Educacion</h3>
    <button class="btn-cancel" (click)="cancel()">X</button>
    <form #f="ngForm" (ngSubmit)="saveEducation()" novalidate class="custom-form">
        <label class="text-white" for="educationUrl"><b>Url</b></label>
        <input type="text" placeholder="Ingrese la URL" id="educationUrl" name="educationUrl" [(ngModel)]="educationUrl"
            required="required">
        <label class="text-white" for="educationImage"><b>Imagen</b></label>
        <input type="text" placeholder="Ingrese la imagen" id="educationImage" name="educationImage"
            [(ngModel)]="educationImage" required="required">
        <label class="text-white" for="educationInstitution"><b>Actividad</b></label>
        <input type="text" placeholder="Ingrese la institucion" id="educationInstitution" name="educationInstitution"
            [(ngModel)]="educationInstitution" required="required">
        <label class="text-white" for="educationTitle"><b>Titulo</b></label>
        <input type="text" placeholder="Ingrese el titulo" id="educationTitle" name="educationTitle"
            [(ngModel)]="educationTitle" required="required">
        <label class="text-white" for="educationPeriod"><b>Periodo</b></label>
        <input type="text" placeholder="Ingrese el periodo" id="educationPeriod" name="educationPeriod"
            [(ngModel)]="educationPeriod" required="required">
        <button>Agregar educacion</button>
    </form>
</div>